body{
  background-image:url('image.jpg');
  background-repeat: no-repeat;
  background-size: 450px 750px;
  margin: 70px;
}
h1{
  text-align: center;
  color:red;
}
p{
  color:aqua;
  font-size: 25px;
  font-style: bold;
}
div{
  color:green;
}
img{
  width:100px;
}
#p1{
  color:blue;
  font-size:20px;
}
